
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size : 11px;
	color: #333;
	background-color: #fefefe;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a:hover,
a:active {
	outline: 0;
}

h1, h2, h3, h4 {
	margin:0;
	padding:0;
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,
input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* ------------ */

header {
	margin: 20px 20px 0px 30px;
}
#content {
	margin: 20px 0px 0px 50px;
}
#haxe-logo {
	margin: 10px 0 10px 0;
}